<a href="https://colab.research.google.com/github/msmsm104/TIL/blob/main/20220531/Benz_Preprocessing_0531.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [132]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [133]:
base_path = '/content/drive/MyDrive/Colab Notebooks/이어드림스쿨/기업강의(fastcampus)/인공지능 머신러닝(0530)/실습예제/data/'

train = pd.read_csv(base_path + 'train.csv')
test = pd.read_csv(base_path + 'test.csv')

In [134]:
train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [135]:
## 아웃라이어 제거

outliers = train[train['y'] > 135]
train = train.drop(index=outliers.index)
train

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [136]:
## categorycal variables --> One-Hot encoding

cat_vars = train.columns[2:10]
binary_vars = train.columns[10:]

display(cat_vars, binary_vars)

Index(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype='object')

Index(['X10', 'X11', 'X12', 'X13', 'X14', 'X15', 'X16', 'X17', 'X18', 'X19',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=368)

In [137]:
## Encoding Categorical features

## 1. Ordinal Encoding
for var in cat_vars:
    train[var] = pd.factorize(train[var])[0]

In [138]:
train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,0,1,1,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,1,2,2,2,0,2,0,1,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,1,1,2,3,0,2,1,2,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,1,0,2,3,0,3,2,3,...,0,0,0,0,0,0,0,0,0,0

In [139]:
## binary col중 모모든 데이터가 0인 경우 제거해준다.

all_0_cols = []

for col in binary_vars:
    one_percent = train[col].mean() * 100
    if one_percent == 0.0:
        all_0_cols.append(col)

all_0_cols

['X11',
 'X93',
 'X107',
 'X233',
 'X235',
 'X268',
 'X289',
 'X290',
 'X293',
 'X297',
 'X330',
 'X339',
 'X347']

In [140]:
train = train.drop(columns=all_0_cols)
train

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,0,1,1,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,1,2,2,2,0,2,0,1,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,1,1,2,3,0,2,1,2,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,1,0,2,3,0,3,2,3,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,15,6,4,2,0,28,2,15,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,6,14,29,4,0,28,3,6,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,15,0,6,0,0,28,6,2,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,3,4,3,3,0,28,1,21,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,17,4,12,2,0,28,6,16,...,1,0,0,0,0,0,0,0,0,0

---

## feature engineering
    1. Correlation
    2. VIF
    3. PCA

In [142]:
## correlation이 높은 변수 찾기

temp_vif = train.drop(columns=['ID', 'y'])
temp_pca = train.drop(columns=['ID', 'y'])
temp_vif.shape, temp_pca.shape

((4154, 363), (4154, 363))

In [141]:
## VIF 가 10이 넘는 변수 찾기
## VIF_i = 1 / 1 - R2_i

from statsmodels.stats.outliers_influence import variance_inflation_factor

In [143]:
vif_list = [variance_inflation_factor(temp_vif.values, idx) for idx in range(len(temp_vif.columns))]
vif_df = pd.DataFrame(index=temp_vif.columns, data=vif_list, columns=['VIF'])
vif_df.sort_values(by='VIF', ascending=False)

/usr/local/lib/python3.7/dist-packages/statsmodels/stats/outliers_influence.py:185: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

           VIF
X385       inf
X209       inf
X176       inf
X177       inf
X178       inf
...        ...
X288  1.099140
X42   1.091190
X190  1.055218
X4    1.051687
X332  1.037006

[363 rows x 1 columns]

In [144]:
vif_cols = vif_df[(vif_df['VIF'] > 10)].index

In [145]:
temp_vif = temp_vif.drop(columns=vif_cols)

In [147]:
vif_list = [variance_inflation_factor(temp_vif.values, idx) for idx in range(len(temp_vif.columns))]
vif_df = pd.DataFrame(index=temp_vif.columns, data=vif_list, columns=['VIF'])
vif_df.sort_values(by='VIF', ascending=False)

            VIF
X361  27.462128
X70   23.009167
X5     8.702543
X1     7.408219
X223   6.445081
...         ...
X319   1.033267
X104   1.031697
X153   1.030568
X332   1.021631
X4     1.008720

[85 rows x 1 columns]

In [148]:
vif_cols = vif_df[(vif_df['VIF'] > 10)].index
temp_vif = temp_vif.drop(columns=vif_cols)

In [149]:
vif_list = [variance_inflation_factor(temp_vif.values, idx) for idx in range(len(temp_vif.columns))]
vif_df = pd.DataFrame(index=temp_vif.columns, data=vif_list, columns=['VIF'])
vif_df.sort_values(by='VIF', ascending=False)

           VIF
X5    8.105059
X1    7.207630
X223  6.212698
X51   6.010800
X273  5.632274
...        ...
X319  1.033255
X153  1.030412
X104  1.030340
X332  1.021233
X4    1.008453

[83 rows x 1 columns]

In [150]:
## 이제 VIF의 값이 10 이상이 column이 없다.

vif_df.sort_values(by='VIF', ascending=False)

           VIF
X5    8.105059
X1    7.207630
X223  6.212698
X51   6.010800
X273  5.632274
...        ...
X319  1.033255
X153  1.030412
X104  1.030340
X332  1.021233
X4    1.008453

[83 rows x 1 columns]

In [151]:
temp_vif

,X0,X1,X3,X4,X5,X6,X8,X27,X38,X42,...,X349,X350,X351,X353,X354,X357,X359,X366,X383,X384
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,0,1,1,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,2,2,0,2,0,1,1,0,0,...,0,1,0,0,1,0,0,0,0,0
3,1,1,3,0,2,1,2,1,0,0,...,0,1,0,0,0,0,0,0,0,0
4,1,0,3,0,3,2,3,1,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,15,6,2,0,28,2,15,1,1,0,...,0,0,0,0,1,0,0,0,0,0
4205,6,14,4,0,28,3,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4206,15,0,0,0,28,6,2,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4207,3,4,3,0,28,1,21,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4208,17,4,2,0,28,6,16,0,0,0,...,0,1,0,0,0,0,0,0,0,0

---

## PCA (Principal Component Analysis)

In [152]:
from sklearn.decomposition import PCA

pca = PCA(n_components=0.95)
X = pca.fit_transform(temp_pca)

temp_pca.shape, X.shape

((4154, 363), (4154, 12))

In [153]:
pca_columns = [f"PC{i}" for i in range(X.shape[1])]
pca_df = pd.DataFrame(columns=pca_columns, data=X)
pca_df

,PC0,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,PC9,PC10,PC11
0,-14.621353,-14.894832,-12.883256,-3.860623,-5.799845,-4.301608,2.077687,1.951060,1.672786,0.899667,1.026063,-1.975715
1,-14.515135,-14.499384,-11.868002,-3.397954,-4.875255,-2.926703,0.564214,0.351548,1.056724,-0.551569,-0.581101,-1.618872
2,-13.381006,-13.269484,-11.203858,-2.856115,-3.749587,-3.685142,-0.520365,1.980148,3.108942,3.007088,0.201653,-0.428791
3,-13.416818,-12.353088,-11.435372,-2.707048,-4.921619,-2.845747,-0.890064,0.704955,2.691307,3.574337,-0.197295,0.326831
4,-13.325114,-11.219994,-10.711991,-2.707924,-6.080085,-1.983456,-0.763927,0.509204,2.413141,3.919834,-0.305533,0.543769
...,...,...,...,...,...,...,...,...,...,...,...,...
4149,4.135803,5.471882,9.291226,-5.188655,-1.527633,-0.895307,-0.953282,2.052449,0.312652,-1.358063,0.895363,-0.499830
4150,-4.756730,0.066767,14.109815,18.636710,11.368023,1.460196,-2.319903,0.055357,-1.442718,0.148466,2.005005,0.723526
4151,2.988286,-7.252381,12.975142,-1.460798,-6.500172,2.141688,1.585341,2.344986,-0.205892,0.365729,-1.214963,-1.014447
4152,-7.560394,12.238774,8.603825,-5.658665,-3.522784,-2.457681,-1.125890,-2.514808,0.133846,1.429892,-0.252660,-0.636738
4153,6.134471,6.767854,9.679548,3.289709,-2.668767,2.882934,0.510877,-1.308694,-0.241100,-0.811081,-0.630684,-0.070730

In [162]:
## 4. 학습데이터 분할 (vif)

from sklearn.model_selection import train_test_split

X = temp_vif
y = train['y']
X_2 = pca_df
y_2 = train['y']

X.shape, y.shape, X_2.shape, y_2.shape

((4154, 83), (4154,), (4154, 12), (4154,))

In [163]:
X_train, X_test, y_train, y_test = \
train_test_split(X, y, test_size=0.2, random_state=100)

X_train_2, X_test_2, y_train_2, y_test_2 = \
train_test_split(X_2, y_2, test_size=0.2, random_state=100)

In [156]:
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(3323, 83) (3323,) (831, 83) (831,)

In [157]:
from sklearn.ensemble import RandomForestRegressor

from lightgbm.sklearn import LGBMRegressor

In [164]:
param_grid = {
    "max_bin" : 20,
    "learning_rate" : 0.0025,
    "objective" : "regression",
    "boosting_type" : "gbdt",
    "metric" : "mae",
    "sub_feature" : 0.345,
    "bagging_fraction" : 0.85,
    "bagging_freq" : 40,
    "num_leaves" : 512,
    "min_data" : 500,
    "min_hessian" : 0.05,
    "verbose" : 2,
    "feature_fraction_seed" : 2,
    "bagging_seed" : 3
}

model = LGBMRegressor(**param_grid)
model_2 = LGBMRegressor(**param_grid)

In [165]:
print("\nFitting LightGBM...")
model.fit(X_train, y_train)
model_2.fit(X_train_2, y_train_2)

Fitting LightGBM...

LGBMRegressor(bagging_fraction=0.85, bagging_freq=40, bagging_seed=3,
              feature_fraction_seed=2, learning_rate=0.0025, max_bin=20,
              metric='mae', min_data=500, min_hessian=0.05, num_leaves=512,
              objective='regression', sub_feature=0.345, verbose=2)

In [160]:
from sklearn.metrics import r2_score

In [168]:
print("Prediction")
pred_train = model.predict(X_train)
pred_test = model.predict(X_test)

pred_train_2 = model_2.predict(X_train_2)
pred_test_2 = model_2.predict(X_test_2)


train_score = r2_score(y_train, pred_train)
test_score = r2_score(y_test, pred_test)

train_score_2 = r2_score(y_train_2, pred_train_2)
test_score_2 = r2_score(y_test_2, pred_test_2)


print("VIF data")
print("Train Score : %.4f" % train_score)
print("Test Score : %.4f" % test_score)


print("PCA data")
print("Train Score : %.4f" % train_score_2)
print("Test Score : %.4f" % test_score_2)

Prediction
VIF data
Train Score : 0.0689
Test Score : 0.0651
PCA data
Train Score : 0.0649
Test Score : 0.0562

In [177]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error

In [181]:
param_grid = {
    "max_depth" : [8, 16, None],
    "n_estimators" : [100, 300, 500],
    "max_bin" : [20],
    "learning_rate" : [0.001, 0.0025, 0.003],
    "objective" : ["regression"],
    "boosting_type" : ["gbdt"],
    "metric" : ["mae"],
    "sub_feature" : [0.345],
    "bagging_fraction" : [0.7, 0.75, 0.85],
    "bagging_freq" : [40],
    "num_leaves" : [256, 512],
    "min_data" : [500],
    "verbose" : [-1], # 필수
    "min_hessian" : [0.05],
    "feature_fraction_seed" : [2],
    "bagging_seed" : [3]
}

gcv = GridSearchCV(estimator=model, param_grid=param_grid, cv=5,
                  n_jobs=-1, verbose=1)

gcv_2 = GridSearchCV(estimator=model_2, param_grid=param_grid, cv=5,
                  n_jobs=-1, verbose=1)

gcv.fit(X_train, y_train)
gcv_2.fit(X_train_2, y_train_2)
print("Best Estimator : ", gcv.best_estimator_)
print("Best Estimator : ", gcv_2.best_estimator_)

Fitting 5 folds for each of 162 candidates, totalling 810 fits
Fitting 5 folds for each of 162 candidates, totalling 810 fits
Best Estimator :  LGBMRegressor(bagging_fraction=0.85, bagging_freq=40, bagging_seed=3,
              feature_fraction_seed=2, learning_rate=0.003, max_bin=20,
              max_depth=8, metric='mae', min_data=500, min_hessian=0.05,
              n_estimators=500, num_leaves=256, objective='regression',
              sub_feature=0.345, verbose=-1)
Best Estimator :  LGBMRegressor(bagging_fraction=0.85, bagging_freq=40, bagging_seed=3,
              feature_fraction_seed=2, learning_rate=0.003, max_bin=20,
              max_depth=8, metric='mae', min_data=500, min_hessian=0.05,
              n_estimators=500, num_leaves=256, objective='regression',
              sub_feature=0.345, verbose=-1)

In [182]:
print("Prediction with Best Estimator")
gcv_pred_train = gcv.predict(X_train)
gcv_pred_test = gcv.predict(X_test)

gcv_pred_train_2 = gcv_2.predict(X_train_2)
gcv_pred_test_2 = gcv_2.predict(X_test_2)

gcv_train_score = r2_score(y_train, gcv_pred_train)
gcv_test_score = r2_score(y_test, gcv_pred_test)

gcv_train_score_2 = r2_score(y_train_2, gcv_pred_train_2)
gcv_test_score_2 = r2_score(y_test_2, gcv_pred_test_2)


print("VIF data")
print("Train MAE Score : %.4f" % gcv_train_score)
print("Test MAE Score : %.4f" % gcv_test_score)

print("PCA data")
print("Train MAE Score : %.4f" % gcv_train_score_2)
print("Test MAE Score : %.4f" % gcv_test_score_2)

Prediction with Best Estimator
VIF data
Train MAE Score : 0.2405
Test MAE Score : 0.2289
PCA data
Train MAE Score : 0.2525
Test MAE Score : 0.2311

In [183]:
print("Performance Gain") # 이걸로 성능 향상 확인.
print("VIF data")
print("in train : ", (train_score - gcv_train_score))
print("in test : ", (test_score - gcv_test_score))

print("PCA data")
print("in train : ", (train_score_2 - gcv_train_score_2))
print("in test : ", (test_score_2 - gcv_test_score_2))

Performance Gain
VIF data
in train :  -0.17159644261565887
in test :  -0.1638415221277112
PCA data
in train :  -0.18764211771562833
in test :  -0.17489864500777652

In [ ]:
## VIF 를 이용한 feature selection, PCA를 이용한 차원 축소.
## 두경우 모두 모델을 통해 학습해본 결과 pca를 통해 차원을 축소한 모델의 성능이 약간 좋은것을 알 수 있다.